$primary: #5BFECC;
$darkPrimary: #2A423E;
$saturatedDarkPrimary: #165044;
$primaryOverlay: rgba(10, 90, 75, .5);
$secondary: #F2D852;
$white: #FFFFFF;
$black: #161616;
$lightGrey: #F2F3F5;
$grey: #333333;
$darkGrey: #232928;
$shadow: rgba(15, 30, 25, .15);
