$primary: #5CFABE;
$darkPrimary: #146652;
$primaryOverlay: rgba(10, 75, 60, 0.55);
$secondary: #F2D852;
$tertiary : #007f99;
$white: #FFFFFF;
$lightGrey: #F5F6F7;
$grey: #333333;
$darkGrey: #232928;
$black: #161616;
$shadow: rgba(15, 30, 25, .15);
