.o-grid {
  &__container {
    display: grid;
    column-gap: $colGap;
    row-gap: $rowGap;

    & > * {
      margin: 0; // grid gap should take care of the spacing
    }
  }

  &--full {
    grid-column: 1 / -1;
  }

  &__medium {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &__small {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}
