.c-dropdown {
  &__sub {
    &--depth1 {
      margin-top: -.5em;
    }
  }
  &__link, &__nolink {
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .05em;
    opacity: .7;
    color: $black;
    padding: .5em 1em;
    &:not(.c-dropdown__link--depth1):not(.c-dropdown__nolink--depth1) {
      margin-bottom: .5em;
    }
    &:after {
      content: "";
      display: block;
      height: .3em;
      background-color: transparent;
      position: absolute;
      left: 1em;
      right: 1em;
      bottom: -.1em;
      border-radius: .5em;
      min-width: 6px;
    }
    &--depth1 {
      text-transform: uppercase;
      letter-spacing: .075em;
      padding: 1.5em 1em;
      &:after {
        bottom: .9em;
      }
    }
  }
  &__link {
    &--active {
      opacity: 1;
      &:after {
        background-color: $primary;
      }
    }
    &:hover, &:focus {
      opacity: 1;
      &:after {
        left: calc(1em + 20%);
        right: calc(1em + 20%);
        background-color: $darkPrimary;
      }
    }
  }
  &__desc {
    display: block;
    font-variant: all-petite-caps;
    font-size: .8em;
    opacity: .7;
  }
  &__item {
    list-style: none;
    &--depth1 {
      margin: 3em 0;
    }
    &:hover, &:focus, &:focus-within, .focus-within {
      & .o-dropdown__sub--depth1 {
        width: auto;
        max-width: 25em;
        padding: 1.25em .5em;
        background-color: $white;
        border: 1px solid $shadow;
        border-radius: .25em;
        overflow: visible;
        z-index: z('focused-element');
        &:before {
          content: "";
          display: block;
          position: absolute;
          box-sizing: content-box;
          width: 8px;
          height: 8px;
          top: -5px;
          left: 1.75em;
          background-color: $white;
          transform: rotate(45deg);
          border: 1px solid $shadow;
          border-bottom-color: transparent;
          border-right-color: transparent;
        }
        &:after {
          content: "";
          display: block;
          height: .5em;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $primary;
          border-radius: 0 0 .25em .25em;
        }
      }
    }
  }
}
.o-dropdown .focus-within {
  & .o-dropdown__sub--depth1 {
    width: auto;
    max-width: 25em;
    padding: 1.25em .5em;
    background-color: $white;
    border: 1px solid $shadow;
    border-radius: .25em;
    overflow: visible;
    z-index: z('focused-element');
    &:before {
      content: "";
      display: block;
      position: absolute;
      box-sizing: content-box;
      width: 8px;
      height: 8px;
      top: -5px;
      left: 1.75em;
      background-color: $white;
      transform: rotate(45deg);
      border: 1px solid $shadow;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
    &:after {
      content: "";
      display: block;
      height: .5em;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $primary;
      border-radius: 0 0 .25em .25em;
    }
  }
}
