.c-footer-menu {
  margin: 0;

  &__item {
    list-style-type: none;
  }

  &__link, &__nolink {
    color: $white;
    padding: .25em 0 .33em;
    margin-bottom: .33em;
  }

  &__link {
    margin-left: -1em;

    &:before {
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: .5em;
      height: .5em;
      border-radius: 100%;
      background-color: transparent;
      margin: .25em .33em;
    }

    &:hover, &:focus {
      color: $white;
      opacity: 1;

      &:before {
        background-color: $primary;
      }
    }
  }

  &__sub {
    margin-left: 1.5em;
  }
}
