//icon = ElementUI icon, c-icon = custom icon
.icon, .c-icon {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    margin: 0 .25em;
  }
}
.icon {
  font-family: "element-icons", sans-serif;
  &--ice-cream-round:before {
    content: "\e6a0"
  }

  &--ice-cream-square:before {
    content: "\e6a3"
  }

  &--lollipop:before {
    content: "\e6a4"
  }

  &--potato-strips:before {
    content: "\e6a5"
  }

  &--milk-tea:before {
    content: "\e6a6"
  }

  &--ice-drink:before {
    content: "\e6a7"
  }

  &--ice-tea:before {
    content: "\e6a9"
  }

  &--coffee:before {
    content: "\e6aa"
  }

  &--orange:before {
    content: "\e6ab"
  }

  &--pear:before {
    content: "\e6ac"
  }

  &--apple:before {
    content: "\e6ad"
  }

  &--cherry:before {
    content: "\e6ae"
  }

  &--watermelon:before {
    content: "\e6af"
  }

  &--grape:before {
    content: "\e6b0"
  }

  &--refrigerator:before {
    content: "\e6b1"
  }

  &--goblet-square-full:before {
    content: "\e6b2"
  }

  &--goblet-square:before {
    content: "\e6b3"
  }

  &--goblet-full:before {
    content: "\e6b4"
  }

  &--goblet:before {
    content: "\e6b5"
  }

  &--cold-drink:before {
    content: "\e6b6"
  }

  &--coffee-cup:before {
    content: "\e6b8"
  }

  &--water-cup:before {
    content: "\e6b9"
  }

  &--hot-water:before {
    content: "\e6ba"
  }

  &--ice-cream:before {
    content: "\e6bb"
  }

  &--dessert:before {
    content: "\e6bc"
  }

  &--sugar:before {
    content: "\e6bd"
  }

  &--tableware:before {
    content: "\e6be"
  }

  &--burger:before {
    content: "\e6bf"
  }

  &--knife-fork:before {
    content: "\e6c1"
  }

  &--fork-spoon:before {
    content: "\e6c2"
  }

  &--chicken:before {
    content: "\e6c3"
  }

  &--food:before {
    content: "\e6c4"
  }

  &--dish-1:before {
    content: "\e6c5"
  }

  &--dish:before {
    content: "\e6c6"
  }

  &--moon-night:before {
    content: "\e6ee"
  }

  &--moon:before {
    content: "\e6f0"
  }

  &--cloudy-and-sunny:before {
    content: "\e6f1"
  }

  &--partly-cloudy:before {
    content: "\e6f2"
  }

  &--cloudy:before {
    content: "\e6f3"
  }

  &--sunny:before {
    content: "\e6f6"
  }

  &--sunset:before {
    content: "\e6f7"
  }

  &--sunrise-1:before {
    content: "\e6f8"
  }

  &--sunrise:before {
    content: "\e6f9"
  }

  &--heavy-rain:before {
    content: "\e6fa"
  }

  &--lightning:before {
    content: "\e6fb"
  }

  &--light-rain:before {
    content: "\e6fc"
  }

  &--wind-power:before {
    content: "\e6fd"
  }

  &--baseball:before {
    content: "\e712"
  }

  &--soccer:before {
    content: "\e713"
  }

  &--football:before {
    content: "\e715"
  }

  &--basketball:before {
    content: "\e716"
  }

  &--ship:before {
    content: "\e73f"
  }

  &--truck:before {
    content: "\e740"
  }

  &--bicycle:before {
    content: "\e741"
  }

  &--mobile-phone:before {
    content: "\e6d3"
  }

  &--service:before {
    content: "\e6d4"
  }

  &--key:before {
    content: "\e6e2"
  }

  &--unlock:before {
    content: "\e6e4"
  }

  &--lock:before {
    content: "\e6e5"
  }

  &--watch:before {
    content: "\e6fe"
  }

  &--watch-1:before {
    content: "\e6ff"
  }

  &--timer:before {
    content: "\e702"
  }

  &--alarm-clock:before {
    content: "\e703"
  }

  &--map-location:before {
    content: "\e704"
  }

  &--delete-location:before {
    content: "\e705"
  }

  &--add-location:before {
    content: "\e706"
  }

  &--location-information:before {
    content: "\e707"
  }

  &--location-outline:before {
    content: "\e708"
  }

  &--location:before {
    content: "\e79e"
  }

  &--place:before {
    content: "\e709"
  }

  &--discover:before {
    content: "\e70a"
  }

  &--first-aid-kit:before {
    content: "\e70b"
  }

  &--trophy-1:before {
    content: "\e70c"
  }

  &--trophy:before {
    content: "\e70d"
  }

  &--medal:before {
    content: "\e70e"
  }

  &--medal-1:before {
    content: "\e70f"
  }

  &--stopwatch:before {
    content: "\e710"
  }

  &--mic:before {
    content: "\e711"
  }

  &--copy-document:before {
    content: "\e718"
  }

  &--full-screen:before {
    content: "\e719"
  }

  &--switch-button:before {
    content: "\e71b"
  }

  &--aim:before {
    content: "\e71c"
  }

  &--crop:before {
    content: "\e71d"
  }

  &--odometer:before {
    content: "\e71e"
  }

  &--time:before {
    content: "\e71f"
  }

  &--bangzhu:before {
    content: "\e724"
  }

  &--close-notification:before {
    content: "\e726"
  }

  &--microphone:before {
    content: "\e727"
  }

  &--turn-off-microphone:before {
    content: "\e728"
  }

  &--position:before {
    content: "\e729"
  }

  &--postcard:before {
    content: "\e72a"
  }

  &--message:before {
    content: "\e72b"
  }

  &--chat-line-square:before {
    content: "\e72d"
  }

  &--chat-dot-square:before {
    content: "\e72e"
  }

  &--chat-dot-round:before {
    content: "\e72f"
  }

  &--chat-square:before {
    content: "\e730"
  }

  &--chat-line-round:before {
    content: "\e731"
  }

  &--chat-round:before {
    content: "\e732"
  }

  &--set-up:before {
    content: "\e733"
  }

  &--turn-off:before {
    content: "\e734"
  }

  &--open:before {
    content: "\e735"
  }

  &--connection:before {
    content: "\e736"
  }

  &--link:before {
    content: "\e737"
  }

  &--cpu:before {
    content: "\e738"
  }

  &--thumb:before {
    content: "\e739"
  }

  &--female:before {
    content: "\e73a"
  }

  &--male:before {
    content: "\e73b"
  }

  &--guide:before {
    content: "\e73c"
  }

  &--news:before {
    content: "\e73e"
  }

  &--price-tag:before {
    content: "\e744"
  }

  &--discount:before {
    content: "\e745"
  }

  &--wallet:before {
    content: "\e747"
  }

  &--coin:before {
    content: "\e748"
  }

  &--money:before {
    content: "\e749"
  }

  &--bank-card:before {
    content: "\e74a"
  }

  &--box:before {
    content: "\e74b"
  }

  &--present:before {
    content: "\e74c"
  }

  &--sell:before {
    content: "\e6d5"
  }

  &--sold-out:before {
    content: "\e6d6"
  }

  &--shopping-bag-2:before {
    content: "\e74d"
  }

  &--shopping-bag-1:before {
    content: "\e74e"
  }

  &--shopping-cart-2:before {
    content: "\e74f"
  }

  &--shopping-cart-1:before {
    content: "\e750"
  }

  &--shopping-cart-full:before {
    content: "\e751"
  }

  &--smoking:before {
    content: "\e752"
  }

  &--no-smoking:before {
    content: "\e753"
  }

  &--house:before {
    content: "\e754"
  }

  &--table-lamp:before {
    content: "\e755"
  }

  &--school:before {
    content: "\e756"
  }

  &--office-building:before {
    content: "\e757"
  }

  &--toilet-paper:before {
    content: "\e758"
  }

  &--notebook-2:before {
    content: "\e759"
  }

  &--notebook-1:before {
    content: "\e75a"
  }

  &--files:before {
    content: "\e75b"
  }

  &--collection:before {
    content: "\e75c"
  }

  &--receiving:before {
    content: "\e75d"
  }

  &--suitcase-1:before {
    content: "\e760"
  }

  &--suitcase:before {
    content: "\e761"
  }

  &--film:before {
    content: "\e763"
  }

  &--collection-tag:before {
    content: "\e765"
  }

  &--data-analysis:before {
    content: "\e766"
  }

  &--pie-chart:before {
    content: "\e767"
  }

  &--data-board:before {
    content: "\e768"
  }

  &--data-line:before {
    content: "\e76d"
  }

  &--reading:before {
    content: "\e769"
  }

  &--magic-stick:before {
    content: "\e76a"
  }

  &--coordinate:before {
    content: "\e76b"
  }

  &--mouse:before {
    content: "\e76c"
  }

  &--brush:before {
    content: "\e76e"
  }

  &--headset:before {
    content: "\e76f"
  }

  &--umbrella:before {
    content: "\e770"
  }

  &--scissors:before {
    content: "\e771"
  }

  &--mobile:before {
    content: "\e773"
  }

  &--attract:before {
    content: "\e774"
  }

  &--monitor:before {
    content: "\e775"
  }

  &--search:before {
    content: "\e778"
  }

  &--takeaway-box:before {
    content: "\e77a"
  }

  &--paperclip:before {
    content: "\e77d"
  }

  &--printer:before {
    content: "\e77e"
  }

  &--document-add:before {
    content: "\e782"
  }

  &--document:before {
    content: "\e785"
  }

  &--document-checked:before {
    content: "\e786"
  }

  &--document-copy:before {
    content: "\e787"
  }

  &--document-delete:before {
    content: "\e788"
  }

  &--document-remove:before {
    content: "\e789"
  }

  &--tickets:before {
    content: "\e78b"
  }

  &--folder-checked:before {
    content: "\e77f"
  }

  &--folder-delete:before {
    content: "\e780"
  }

  &--folder-remove:before {
    content: "\e781"
  }

  &--folder-add:before {
    content: "\e783"
  }

  &--folder-opened:before {
    content: "\e784"
  }

  &--folder:before {
    content: "\e78a"
  }

  &--edit-outline:before {
    content: "\e764"
  }

  &--edit:before {
    content: "\e78c"
  }

  &--date:before {
    content: "\e78e"
  }

  &--c-scale-to-original:before {
    content: "\e7c6"
  }

  &--view:before {
    content: "\e6ce"
  }

  &--loading:before {
    content: "\e6cf"
  }

  &--rank:before {
    content: "\e6d1"
  }

  &--sort-down:before {
    content: "\e7c4"
  }

  &--sort-up:before {
    content: "\e7c5"
  }

  &--sort:before {
    content: "\e6d2"
  }

  &--finished:before {
    content: "\e6cd"
  }

  &--refresh-left:before {
    content: "\e6c7"
  }

  &--refresh-right:before {
    content: "\e6c8"
  }

  &--refresh:before {
    content: "\e6d0"
  }

  &--video-play:before {
    content: "\e7c0"
  }

  &--video-pause:before {
    content: "\e7c1"
  }

  &--d-arrow-right:before {
    content: "\e6dc"
  }

  &--d-arrow-left:before {
    content: "\e6dd"
  }

  &--arrow-up:before {
    content: "\e6e1"
  }

  &--arrow-down:before {
    content: "\e6df"
  }

  &--arrow-right:before {
    content: "\e6e0"
  }

  &--arrow-left:before {
    content: "\e6de"
  }

  &--top-right:before {
    content: "\e6e7"
  }

  &--top-left:before {
    content: "\e6e8"
  }

  &--top:before {
    content: "\e6e6"
  }

  &--bottom:before {
    content: "\e6eb"
  }

  &--right:before {
    content: "\e6e9"
  }

  &--back:before {
    content: "\e6ea"
  }

  &--bottom-right:before {
    content: "\e6ec"
  }

  &--bottom-left:before {
    content: "\e6ed"
  }

  &--caret-top:before {
    content: "\e78f"
  }

  &--caret-bottom:before {
    content: "\e790"
  }

  &--caret-right:before {
    content: "\e791"
  }

  &--caret-left:before {
    content: "\e792"
  }

  &--d-caret:before {
    content: "\e79a"
  }

  &--share:before {
    content: "\e793"
  }

  &--menu:before {
    content: "\e798"
  }

  &--s-grid:before {
    content: "\e7a6"
  }

  &--s-check:before {
    content: "\e7a7"
  }

  &--s-data:before {
    content: "\e7a8"
  }

  &--s-opportunity:before {
    content: "\e7aa"
  }

  &--s-custom:before {
    content: "\e7ab"
  }

  &--s-claim:before {
    content: "\e7ad"
  }

  &--s-finance:before {
    content: "\e7ae"
  }

  &--s-comment:before {
    content: "\e7af"
  }

  &--s-flag:before {
    content: "\e7b0"
  }

  &--s-marketing:before {
    content: "\e7b1"
  }

  &--s-shop:before {
    content: "\e7b4"
  }

  &--s-open:before {
    content: "\e7b5"
  }

  &--s-management:before {
    content: "\e7b6"
  }

  &--s-ticket:before {
    content: "\e7b7"
  }

  &--s-release:before {
    content: "\e7b8"
  }

  &--s-home:before {
    content: "\e7b9"
  }

  &--s-promotion:before {
    content: "\e7ba"
  }

  &--s-operation:before {
    content: "\e7bb"
  }

  &--s-unfold:before {
    content: "\e7bc"
  }

  &--s-fold:before {
    content: "\e7a9"
  }

  &--s-platform:before {
    content: "\e7bd"
  }

  &--s-order:before {
    content: "\e7be"
  }

  &--s-cooperation:before {
    content: "\e7bf"
  }

  &--bell:before {
    content: "\e725"
  }

  &--message-solid:before {
    content: "\e799"
  }

  &--video-camera:before {
    content: "\e772"
  }

  &--video-camera-solid:before {
    content: "\e796"
  }

  &--camera:before {
    content: "\e779"
  }

  &--camera-solid:before {
    content: "\e79b"
  }

  &--download:before {
    content: "\e77c"
  }

  &--upload2:before {
    content: "\e77b"
  }

  &--upload:before {
    content: "\e7c3"
  }

  &--picture-outline-round:before {
    content: "\e75f"
  }

  &--picture-outline:before {
    content: "\e75e"
  }

  &--picture:before {
    content: "\e79f"
  }

  &--close:before {
    content: "\e6db"
  }

  &--check:before {
    content: "\e6da"
  }

  &--plus:before {
    content: "\e6d9"
  }

  &--minus:before {
    content: "\e6d8"
  }

  &--help:before {
    content: "\e73d"
  }

  &--s-help:before {
    content: "\e7b3"
  }

  &--circle-close:before {
    content: "\e78d"
  }

  &--circle-check:before {
    content: "\e720"
  }

  &--circle-plus-outline:before {
    content: "\e723"
  }

  &--remove-outline:before {
    content: "\e722"
  }

  &--zoom-out:before {
    content: "\e776"
  }

  &--zoom-in:before {
    content: "\e777"
  }

  &--error:before {
    content: "\e79d"
  }

  &--success:before {
    content: "\e79c"
  }

  &--circle-plus:before {
    content: "\e7a0"
  }

  &--remove:before {
    content: "\e7a2"
  }

  &--info:before {
    content: "\e7a1"
  }

  &--question:before {
    content: "\e7a4"
  }

  &--warning-outline:before {
    content: "\e6c9"
  }

  &--warning:before {
    content: "\e7a3"
  }

  &--goods:before {
    content: "\e7c2"
  }

  &--s-goods:before {
    content: "\e7b2"
  }

  &--star-off:before {
    content: "\e717"
  }

  &--star-on:before {
    content: "\e797"
  }

  &--more-outline:before {
    content: "\e6cc"
  }

  &--more:before {
    content: "\e794"
  }

  &--phone-outline:before {
    content: "\e6cb"
  }

  &--phone:before {
    content: "\e795"
  }

  &--user:before {
    content: "\e6e3"
  }

  &--user-solid:before {
    content: "\e7a5"
  }

  &--setting:before {
    content: "\e6ca"
  }

  &--s-tools:before {
    content: "\e7ac"
  }

  &--delete:before {
    content: "\e6d7"
  }

  &--delete-solid:before {
    content: "\e7c9"
  }

  &--eleme:before {
    content: "\e7c7"
  }

  &--platform-eleme:before {
    content: "\e7ca"
  }
}
.c-icon {
  font-family: "webart-icons", sans-serif;
  &--arrow-right {
    &:before {
      content: "\e900";
    }
  }

  &--eye {
    &:before {
      content: "\e901";
    }
  }

  &--pencil {
    &:before {
      content: "\e905";
    }
  }

  &--pin {
    &:before {
      content: "\e946";
    }
  }

  &--printer {
    &:before {
      content: "\e954";
    }
  }

  &--bubble {
    &:before {
      content: "\e96b";
    }
  }

  &--bubbles {
    &:before {
      content: "\e970";
    }
  }

  &--quotes-left {
    &:before {
      content: "\e977";
    }
  }

  &--quotes-right {
    &:before {
      content: "\e978";
    }
  }

  &--spinner {
    &:before {
      content: "\e97b";
    }
  }

  &--refresh {
    &:before {
      content: "\e984";
    }
  }

  &--search {
    &:before {
      content: "\e986";
    }
  }

  &--lock {
    &:before {
      content: "\e98f";
    }
  }

  &--unlocked {
    &:before {
      content: "\e990";
    }
  }

  &--fire {
    &:before {
      content: "\e9a9";
    }
  }

  &--bin {
    &:before {
      content: "\e9ad";
    }
  }

  &--heart {
    &:before {
      content: "\e9da";
    }
  }

  &--heart-broken {
    &:before {
      content: "\e9db";
    }
  }

  &--filter {
    &:before {
      content: "\ea5b";
    }
  }

  &--facebook {
    &:before {
      content: "\ea91";
    }
  }

  &--instagram {
    &:before {
      content: "\ea92";
    }
  }

  &--youtube {
    &:before {
      content: "\ea9d";
    }
  }
  &--github {
    &:before {
      content: "\eab0";
    }
  }

  &--codepen {
    &:before {
      content: "\eae8";
    }
  }
}
