html,
body {
  height: 100%;
  font-size: $mainSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: text;
}

body {
  background-color: $white;
  color: $black;
  position: relative;
  min-height: 100vh;
  z-index: z('main-content');
}

body, * {
  font-family: Montserrat, "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

::selection {
  background-color: $primary;
  color: $black;
}
::placeholder {
  color: inherit;
  opacity: .55;
}
