label, input, select, button {
  display: block;
}

input, select {
  width: 100%;
  font-size: 1em;
  padding: .6em 1.5em;
  border: 1px solid $grey;
  border-radius: .2em;
  background-color: $white;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    background-color: $lightGrey;
  }
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  display: inline-block;
}

input[type="submit"], button {
  cursor: pointer;
  color: $tertiary;
  font-size: 1em;
  font-weight: 600;
  border: 3px solid $tertiary;
  border-radius: .25em;
  background-color: $white;
  padding: .6em 1.5em;

  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: $black;
  }
}

input[disabled], button[disabled] {
  cursor: not-allowed;
}
