h1, h2, h3, h4 {
  font-family: "Lora", Georgia, serif;
  font-weight: 700;
  color: $darkPrimary;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}
h1 {
  font-size: $biggestSize;
  margin-bottom: .5em;
  margin-top: 3rem;
}

h2 {
  font-size: $biggerSize;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  font-size: $bigSize;
  font-weight: 700;
  margin-bottom: .25em;
}
