h1, h2, h3, h4 {
  font-family: "Lora", Georgia, serif;
  font-weight: 700;
  color: $saturatedDarkPrimary;
  margin-top: 2.25em;
}
h1 {
  font-size: 5.25rem;
  letter-spacing: .0125em;
  //line-height?
  text-align: left;
  margin-bottom: .5em;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: .75em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .25em;
}
