a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $tertiary;
  font-weight: 700;
  font-style: normal;
  vertical-align: middle;

  &:hover, &:focus {
    color: $darkPrimary;
  }
}

a:not([class]) {
  text-decoration: underline;

  /*&:hover, &:focus {
    &:after {
      right: 0;
    }
  }*/
}

a[disabled] {
  cursor: not-allowed;
}
