strong, b, time {
  font-weight: 700;
}
em, i {
  font-style: italic;
}
p {
  margin: 0 auto .75em;
  line-height: 1.5;
  max-width: 880px;
}
p:last-of-type {
  margin-bottom: 0;
}
dd, dt {
  margin-bottom: .5em;
  line-height: 1.3;
}
dt {
  font-weight: 700;
}
